/* 〖天蓝/空韵〗自制的排版样式：用于避免主题应用后的问题和美观 */
/* 全局字体 */
* {
    font-family: cmdysj, Source Han Sans CN;
}

/* 登录界面 */
.name,
.qq-logo-icon,
.q-button.q-button--primary.q-button--default.login-btn {
    z-index: 1 !important;
}

/* 昵称 */
.app {
    .auto-login {
        .name {
            transform: translateY(70%);
        }
    }
}

/* 图标 */
.q-button.q-button--primary.q-button--default.login-btn {
    transform: translateY(500%);
}

/* 头像 */
.avatar.single-avatar {
    position: absolute;
    height: 100.25% !important;
    width: 100.25% !important;
    border-radius: 0 !important;
    z-index: 0 !important;
    transform: translateY(-22.5%);
    filter: blur(1px) brightness(0.5);
}

.item.contact {
    background-color: var(--text_primary);
}

/* .message-content__wrapper {} */

/* 聊天框 START */
/* 预览文字 */
.qq-editor[style$='"";'] .ck-placeholder:before {
    --qq-editor-placeholder: "就不说点什么吗qwq？";
    /* 给文字染色 */
    color: #91dfff74;
}

/* 聊天文字样式 BEGIN */
/* 自己的文字 */
.reply-element.no-copy.reply-element--self,
.message-container--self {
    .text-normal {
        /* padding: 5px 12px 5px 12px; */
        font-size: 18px;
        color: black;
        filter: drop-shadow(1px 1px 3px white);
    }
}

/* 自己消息的背景 */
.message-container--self {
    background-color: rgba(145, 223, 255, .03);
    backdrop-filter: blur(5px);
    filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, .5));
}

/* 文字大小 */
.msg-content-container.container--others.reply-message__container {
    .message-content.reply-message__inner {
        padding: 0 5px 0 5px !important;
        font-size: 18px !important;
    }
}

.mix-message__inner {
    .text-element {
        .text-normal:not(.image.pic-element>.pic-content, .text-element--at) {
            padding: 0 5px 0 5px !important;
            font-size: 18px !important;
        }
    }

    .message-content.reply-message__inner.lite-tools-vue-component.vue-component {
        padding: 0 5px 0 5px !important;
        font-size: 18px !important;
    }
}


/* 回复相关（貌似没作用）
.text-element--at {
    font-size: 18px;
    color: #91dfff;
    text-decoration: wavy;
}*/

/* 聊天文字样式 END */


/* 只是无聊整的东西
    .message-container--self {
        background: rgba(145, 223, 255, .3) !important;
    }

    .message-container {
        transform: rotateY(180deg);
        float: left;
        animation: HighlightAnimation 5s infinite ease-in-out;
    }

    @keyframes HighlightAnimation {
        0% {
            background: rgba(145, 223, 255, .03) !important;
            backdrop-filter: blur(50px) brightness(3);
        }

        50% {
            background: rgba(145, 223, 255, .53) !important;
            backdrop-filter: blur(15px) brightness(1);
        }

        100% {
            background: rgba(145, 223, 255, .03) !important;
            backdrop-filter: blur(50px) brightness(3);
        }
    }
*/

/* 不显示外边框线条 */
.resize-handler {
    div[style="height: 2px;"] {
        display: none !important;
    }
}

/* 加宽主线条高度 */
.resize-handler {
    div[style="height: 1px; background-color: transparent;"] {
        height: 5px !important;
        /* background: transparent !important; */
        /* border: 0 transparent !important; */
    }
}

.q-select-button.card-action-btn {
    background-color: rgba(0, 0, 0, .32);
}

.list-item.across-mode.contact-buddy-item.contact-item {
    .list-item__container {
        background: transparent !important;
    }
}

/* 
.message-content__wrapper .container--others
.contact-buddy-item.contact-item {
    background: transparent !important;
}
*/

/* 全局背景透明 */
.list-item.contact-buddy-item.contact-item>.list-item__container,
div.viewport-list__inner>div.list-item.across-mode.contact-buddy-item.contact-item>div.list-item__container>div.list-item__content>*,
.list-item.across-mode.contact-device-item.contact-item,
.list-item__container>.recent-contact-item--top,
.empty-panel>.q-empty-page.empty-panel.empty-panel--noTitle,
.contact-buddy-item.contact-item,
.message-container--self>.message-content.mix-message__inner,
.draggable-view__container.panel-header.chat-header.need-token-updated,
.chat-msg-area__tip--top>div>.av-call-status.horseman,
/* 文件列表 */
.message-container.file-message,
.file-message--content,
.normal-file.file-element,
/* 聊天界面 */
.message-content__wrapper>.msg-content-container.container--others.ark-msg-content-container,
.message-content__wrapper>.msg-content-container.container--others.mix-message__container.lite-tools-vue-component.vue-component,
/* 普通和回复消息 */
.msg-content-container.container--others.reply-message__container,
.message-content__wrapper>.msg-content-container.container--others.is-rendering.mix-message__container,
#qContextMenu,
.msg-content-container.container--others.mix-message__container>.message-content.mix-message__inner>.text-element,
/* .msg-content-container.container--others.reply-message__container>.message-content.reply-message__inner>.reply-element.no-copy, */
div.selector-layout__friends_list>div.viewport-list,
.q-context-sub-menu__container>*,
.sticker-panel-ref.expression-panel-inner.lite-tools-vue-component.vue-component,
div.operation,
/* 数据目录位置 */
.profile {
    background: transparent !important;
}

/*
.message-container--self>.message-content.mix-message__inner {
    background: transparent !important;
    padding: 5px 12px 5px 12px !important; 
}
*/

/* 空页面 */
.empty-profile {
    /* background-color: #ffffff25;
    backdrop-filter: blur(15px) !important; */
}

.empty-panel {
    .ad-wrapper {
        /* background: rgba(0, 0, 0, .27) !important; */
    }

    .empty-aio {
        .ad-wrapper {
            /* background: rgba(0, 0, 0, .27) !important; */
        }
    }
}

/* 空白好友面板背景 */
.contact-profile {
    /* background-color: rgba(0, 0, 0, .8) !important; */
}

/* 详细面板背景 */
.contact-profile {
    /* background: rgba(0, 0, 0, .62) !important; */
}

/* 消息页面空背景 */
.group-assistent-list {
    background: rgba(0, 0, 0, .73) !important;
    backdrop-filter: blur(5px);
}

/* 转发聊天记录大小 */
.forward-msg {
    width: 400px !important;
    /* height: 175px !important; */
}

/* 编辑框回复内容拉宽至整个编辑框长度（右侧无法编辑） */
.editor-el__reply.editor-el--block {
    width: 100%;
    /* height: 150px; */
}

/* 聊天框
.chat-input-area {
    background: transparent;
}
*/

/* 去除消息底部内边距 */
.message {
    padding-bottom: 0 !important;
}

/* 边栏背景（与主题的背景透明度叠加）*/
/* .draggable-view__container.sidebar {
    background: rgba(0, 0, 0, .32) !important;
    backdrop-filter: blur(1px);
} */

/* 收藏页面 START */
/* 意义不明，先注掉 
.favorites-item-mainList>* {
    border-bottom: 3px white !important;
}*/

/* 背景 */
.favorites-layout__side,
.favorites-layout__right-area>.favorites-layout__content {
    background: rgba(0, 0, 0, .15) !important;
    backdrop-filter: blur(7px);
}

/* 删除关闭按钮 */

/* （全局问题已停用）音频类收藏：消息条加长 
.favorites-item.favorites-audio>.audio-bubble.favorites-item__content.favorites-audio__content,
.msg-content-container.container--others.mix-message__container.ptt-message>.ptt-message__inner {
    width: 125px;
    height: 20px;
}
*/

/* 来源展开更宽 */
.favorites-item__addition {
    .favorites-item__author {
        width: 350px !important;
    }
}

/* 收藏页面 END */


/* 群聊右框加宽（TODO） */
/* 旧方法 */
.group-box>.group-notice,
.group-box__container[style="width:180px;"]>.group-box[style="display:flex;"] {
    width: 240px !important;
}


/* 有效但受影响较大已停用
.group-box__container[style="width:0px;"]>* {
    display: none !important;
} */

/* .group-panel>div.group-box__container[style='width:180px;'] {
    width: 240px;
    transform: translateX(-60px) !important;
}

.group-box[style='display: flex;'],
.group-notice {
    width: 240px !important;
} */

/* 发送按钮 */
.operation {
    .send-btn-wrap {
        .sendable {
            .send {
                height: 30px;
                width: 90px;
            }
        }

        * {
            .send.send--disabled {
                height: 30px;
                width: 90px;
            }
        }
    }
}

/* 设置箭头微调 */
.send-setting {
    transform: translateY(2px);
}

/* 输入框样式 START */

:root {
    --minUserInputHeight: 150px;
    /* --maxUserInputHeight: 400px; */
    --maxUserInputHeight: 100%;
}

/* 输入框滚动条【使用另一种方法暴力修复】 */
/* .ck.ck-reset.ck-editor.ck-rounded-corners {
    height: calc(var(--minUserInputHeight) + 20px);
} */

/* 搜索框调整 */
.search-result.bg-color-counts-1.aggregate-search {
    transform: translateY(-3%);
    /* 删除边距 */
    margin: 0;
    /* 自适应高度 */
    height: auto;
    background: rgb(20, 0, 0) !important;
    opacity: 1;
}

.q-scroll-view.scroll-view--show-scrollbar.msg-input {
    height: 100px !important;
}

/* 输入框高度（无法消除滚动条） 
.ck.ck-editor__main {
    padding-top: 5px;
    height: 100px !important;
}
*/

/* 输入框上方按钮背景 */
.q-scroll-view.scroll-view--show-scrollbar.msg-input,
.chat-func-bar.shortcuts {
    background: transparent !important;
    backdrop-filter: blur(15px) !important;
}

/* 输入框样式 END */

/* 菜单样式 START（已使用插件代替）*/
.q-menu.q-menu__mixed-type.undefined {
    background: none;
    border: 0 transparent;
}

.chat-input-area.no-copy {
    background: rgba(0, 0, 0, .01) !important;
}

div.q-context-menu {
    &:hover {
        background-color: rgba(0, 0, 0, .3) !important;
        /* border: 0 transparent !important; */
        backdrop-filter: blur(5px) brightness(1.3);
    }
}

.q-context-sub-menu__container {
    .q-context-menu-item {
        .group-msg-setting__contextmenu {
            transform: translateX(5px);
        }
    }
}

/* 联系人样式 START */
/* 签名及状态文字颜色 */
.list-item__summary {
    .summary-main.text-ellipsis {
        span {
            color: white !important;
        }
    }
}

/* （除好友通知外的）全局消息文字颜色 */
.list-item__summary {
    .summary-main.text-ellipsis {
        color: #91dfff !important;
    }
}


/* 意义不明 
.draggable-view__container.panel-header.chat-header.need-token-updated {
    background: transparent !important;
}
*/

/* 貌似是置顶消息样式（但是没有反应） 
.chat-msg-area__tip--top>div>.av-call-status.horseman {
    background: transparent !important;
    /// backdrop-filter: blur(10px) brightness(0.8);
    border-bottom: 0;
}
*/

/* 群聊人数 */
.panel-header__title {
    .chat-header__title {
        .chat-header__contact-name {
            span.text-ellipsis {
                font-size: 20px !important;
                transform: translateY(-2px);
            }
        }

        span {
            &:not(span.text-ellipsis>span) {
                font-size: 14px !important;
                transform: translateY(1px);
            }
        }
    }
}


/* 好友信息面板 */
.profile__body {
    /* background-color: rgba(0, 0, 0, .4); */
    transform: translateY(20%);
    /* bottom: 10px; */
}

/* 好友通知和群通知 - 卡片背景色彩 */
.list-item {
    &:not(.across-mode.recent-contact-item, .list-item__content) {
        /* background-color: transparent !important; */
        background-color: #000 !important;
        backdrop-filter: blur(5px);
    }
}

/* 群通知字体色 */
.sys-notify-card {
    .list-item__summary {
        .summary-main.text-ellipsis {
            .card-summary.text-ellipsis {
                color: #fff !important;
            }

            /* 群名称 */
            .card-summary.text-ellipsis.card-summary__name {
                color: #91dfff !important;
            }
        }
    }
}

/* 好友列表跟随主题透明 */
.contact {
    .draggable-view__container.contact-top-bar.contact__top-area {
        background: transparent !important;
        backdrop-filter: blur(0);
    }

    /* 右侧面板（Bug：莫名其妙的会给左边面板上色） */
    .contact-layout__content-area {
        backdrop-filter: blur(15px) brightness(0.2);
    }
}

.av-call-info {

    .name-text,
    .content-text {
        align-items: center !important;
    }
}

/* fixed:将离线用户头像恢复以区分在线状态 */
.list-item__container {
    .list-item__content {
        div.list-item__avatar {
            div.avatar.avatar--offline {
                border-radius: 50% !important;
                /* background: #91dfff !important; */
            }
        }
    }
}

/* 联系人样式 END */

/* 文件样式 START */
/* 文件类消息大小（取决于文件名） */
.message-container.file-message,
.file-message--content,
.normal-file.file-element {
    width: 100% !important;
    height: 100% !important;
    /* margin-bottom: 20px !important; */
}

/* 时间栏模糊 */
.file-list-normal-sort-title.file-list-normal-sort-title-height {
    backdrop-filter: blur(5px) invert(.25);
}

.file-container-center {
    width: 50%;

    /* 文件名称长度 */
    .file-name {
        width: 225% !important;
    }

    /* 元素长度 */
    .container {
        width: 150%;
    }
}

.file-container-right {
    width: 50% !important;

    /* 发送者名称 */
    .file-send-desc-sender {
        width: 100% !important;
        text-align: right;
    }

    /* 发送时间 */
    .file-send-time {
        width: 85% !important;
        transform: translateX(17.632483117%);
    }
}

/* 将文件大小数值往右挪（停用，已有官方解决办法）
.normal-file.file-element>.file-info {
    transform: translateX(20%) !important;
} */

/* 文件样式 End */

/* 不知道是哪里的输入区域，已停用
.chat-input-area.no-copy {
    background-color: transparent !important;
}
*/

/* （可用，但已停用）挪动聊天框上方按钮
.chat-func-bar.shortcuts>.func-bar {
    align-items: center;
}
*/

/* 消息显示时间变色（插件代替） */
/* .babble {
    color: white;
} */

/* 搜索条收缩 */
.draggable-view__container.contact-top-bar {
    padding: 15px 10px 5px 10px;
    width: 100%;
}

.search-result.bg-color-counts-1.aggregate-search.empty {
    transform: translateY(-15px);
}

/* 右侧面板顶栏 */
/* .draggable-view__container.panel-header, */
.draggable-view__container.contact-top-bar.contact__top-area,
.sys-notify-card.group-notify-card>.list-item {
    background-color: rgba(0, 0, 0, .4);
}


/* 表情面板 START */
/* 位移 */
/* .expression-panel-inner {
    transform: translateY(5px) !important;
}
*/

/* 表情面板背景和弹出动画 */
.sticker-panel {
    transform: translateX(5px) translateY(-10px);
    background-color: rgba(0, 0, 0, .402) !important;
    animation: EjectToTop 1.25s cubic-bezier(.19, 1, .22, 1);

    .sticker-panel__divide {
        display: none;
    }

    /* .tabs-container-item {
        * {
            transform: translateX(-4px) !important;
        }
    } */
}

@keyframes EjectToTop {
    from {
        transform: translateX(-100%) translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateX(5px) translateY(-10px);
        opacity: 1;
    }
}

/* 宽度（弃用） 
.expression-panel-inner>.sticker-panel {
    width: 375px !important;
}
*/

/* 清除前后箭头外边距
.tabs.sticker-panel__bar {
    .tabs-arrow {
        margin: 0 !important;
    }
} */

/* 表情包按钮宽度同步（qq这个间距给我看迷了，这么宽一个位置放不进去是吧） */
.sticker-panel__bar {
    .tabs-container {
        * {
            margin-left: 8px;
        }
    }
}

/* 表情面板 END */


/* 收藏面板中间的分割线和关闭按钮 */
.q-button.q-button--secondary.q-button--default.close,
.favorites-layout.q-divider.q-divider__vertical {
    display: none;
}

/* 联系人面板 START */
.two-col-layout.contact-layout {
    /* box-shadow: 0 15px 0 0 black; */
    /* background-color: black; */
    backdrop-filter: blur(5px) brightness(0.5);
}

.contact-layout__right-area {
    backdrop-filter: brightness(0.5) !important;
}

/* 好友列表右侧信息顶栏（已被代替）
.draggable-view__container.contact-profile__head {
    transform: translateY(3px) scaleY(1.15);
    background-color: rgba(0, 0, 0, .4);
}
*/

/* 列表透明 */
.viewport-list.sys-notify-list {
    .viewport-list__inner {
        background: transparent !important;
    }
}

.main-info.text-ellipsis {
    .secondary-info.text-ellipsis {
        color: white !important;
    }
}

.card-summary.text-ellipsis:not(.card-summary__name),
.summary-main.text-ellipsis {
    span {
        color: black !important;
    }
}

.list-item.across-mode.contact-item {
    background: rgba(0, 0, 0, .1);
    border-radius: 15px;
}

/* 群聊成员名字改色使其容易可见（新版本已修复）*/
.viewport-list__inner {
    .group-user {
        .group-user__content {
            .group-user__name.text-ellipsis {
                color: rgba(255, 255, 255, .65) !important;
            }
        }
    }
}


/* 成员列表收缩 */
/* 旧方法 */
.group-user,
/* 新方法需要选中两个部分 */
.group-member.lite-tools-vue-component.vue-component,
.group-user__content {
    padding: 0 !important;
}

/* 头像圆角 */
.avatar—wrapper>.avatar,
.avatar-span>.avatar.message-container__avatar,
.info-wrapper>.avatar—wrapper>.avatar,
.list-item__container>.list-item__content>div.list-item__avatar>div.avatar,
.avatar.group-user__avatar,
/* 电话，共享环境 */
div.recent-contact-item__phone>div.recent-contact-item__phone_bg {
    border-radius: 5px !important;
}


/* 要高亮的按钮 */
.chat-msg-area__tip--top {
    animation: HighlightAnimation 5s infinite ease-in-out;
}

.q-notification.theme-default.chat-msg-area__tip--top-btn,
.q-notification.theme-default.chat-msg-area__tip--bottom {
    animation: HighlightAnimation 3s infinite ease-in-out;
    width: 150px;
}

/* 高亮背景动画 */
@keyframes HighlightAnimation {
    from {
        background-color: transparent;

    }

    50% {
        background-color: rgba(0, 0, 0, .25);
        box-shadow: #91dfff 1px 5px 25px;
    }

    to {
        background-color: transparent;
    }
}

/* 
.q-scroll-view.scroll-view--show-scrollbar.sys-notify__content {
    width: 150%;
    right: 25%;
    align-items: center;
}

.viewport-list__inner,
.viewport-list.sys-notify-list {
    width: 1080px !important;
}
*/

.q-popover-custom-class.q-popover {
    .buddy-profile {
        .buddy-profile__details {
            .buddy-profile__details-item {

                .privilege-icons,
                .buddy-profile__details-item-label.privilege-icon__label {
                    display: none;
                }
            }
        }
    }
}
